*,
* :after,
* :before {
  box-sizing: inherit;
}

html,
body {
  font-family: source code pro, monospace;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6em;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.8rem;
  background-color: #22252c;
  color: rgba(255, 255, 255, 0.6);
}

h1 {
  font-size: 3.5rem;
  color: #B07E4A;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  color: #B07E4A;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 2.25rem;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 700;
}

h4 {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 700;
}

h6 {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 700;
}

p {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 150%;
}

strong {
  font-weight: 700;
}

ul {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  padding: 0 0 0 2rem;
}

a {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  transition: 0.3s color;
}

a:hover {
  color: #B07E4A;
}

.content {
  height: 100%;
  margin-top: auto;
}

.single {
  margin: 0 auto;
  max-width: 1335px;
  position: relative;
  width: 100%;
  padding: 0 2rem;
}

footer {
  margin: 0 auto;
  max-width: 1335px;
  position: relative;
  width: 100%;
  padding: 0 2rem;
  margin-top: auto;
  display: flex;
  font-size: 1.4rem;
}

footer a {
  display: inline-block;
  margin-right: 2rem;
}

footer a:last-child {
  margin-right: 0;
}

@media only screen and (min-width: 420px), (max-width: 420px) {
  footer {
    flex-direction: column;
    padding: 5rem 2rem 3rem;
    text-align: center;
  }

  footer div {
    padding: 3rem 0;
  }
}

@media only screen and (min-width: 640px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 10rem 2rem 5rem;
  }

  footer div {
    padding: 0;
  }
}

.hero h1 {
  padding: 0;
  margin: 0;
  text-transform: inherit;
  line-height: 140%;
  margin: 2rem 0;
  color: #B07E4A;
}

.hero p {
  padding: 0;
  margin: 0;
  line-height: 150%;
}

.hero strong {
  font-size: 3.5rem;
}

.hero a {
  font-weight: 700;
  text-decoration: none;
}

@media only screen and (min-width: 420px), (max-width: 420px) {
  .hero {
    margin-top: 12%;
  }

  .hero h1 {
    max-width: 100%;
    font-size: 4rem;
  }

  .hero p {
    font-size: 2rem;
    max-width: 100%;
  }
}

@media only screen and (min-width: 640px) {
  .hero {
    margin-top: 12%;
  }

  .hero h1 {
    max-width: 100%;
    font-size: 4.5rem;
  }

  .hero p {
    font-size: 2rem;
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    margin-top: 12%;
  }

  .hero h1 {
    max-width: 100%;
    font-size: 5rem;
  }

  .hero p {
    font-size: 2rem;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    margin-top: 12%;
  }

  .hero h1 {
    max-width: 70%;
    font-size: 5.5rem;
  }

  .hero p {
    font-size: 2.5rem;
    max-width: 80%;
  }
}

.content-section {
  margin-top: 12%;
}

.content-section .panel a {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 20px;
  padding-right: 35px;
  display: inline-block;
  transition: 0.3s background-image, 0.3s color, 0.2s background-position;
}

.content-section .panel img {
  border-radius: 10px;
}

.about {
  margin-top: 12%;
}

.about h2 {
  padding: 0;
  margin: 0;
  margin: 0 0 4rem;
  font-size: 2.4rem;
}

.about p {
  padding: 0;
  margin: 0;
  line-height: 180%;
  padding-bottom: 3rem;
}

.about p:last-child {
  padding-bottom: 0;
}

.about div.testimonial {
  flex: 1;
}

.about div.testimonial p {
  font-size: 2rem;
  line-height: 180%;
  color: #fff;
}

.about div.testimonial section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about div.testimonial section div {
  padding-left: 2rem;
}

.about div.testimonial section span {
  display: block;
}

.about div.testimonial section span:first-child {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: source code pro, monospace;
}

.about div.testimonial section span:last-child {
  font-size: 1.4rem;
}

@media only screen and (min-width: 420px), (max-width: 420px) {
  .about div.flexed {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .about div.copy {
    flex: 1;
    padding-right: 0;
    padding-bottom: 3rem;
  }
}

@media only screen and (min-width: 1024px) {
  .about div.flexed {
    flex-direction: row;
  }

  .about div.copy {
    flex: 2;
    padding-right: 8rem;
  }
}

.grid {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
}

.grid .panel {
  text-align: left;
  transition: 0.3s background-color, 0.3s background-image;
  padding: 30px 0 0;
  background-repeat: no-repeat;
  background-position: top left;
}

.grid .panel h4 {
  padding: 0;
  margin: 0;
  margin: 1rem 0;
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  font-family: source code pro, monospace;
}

.grid .panel p {
  font-size: 1.6rem;
}

.grid .panel img {
  max-width: 100%;
  height: auto;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.text-danger {
  color: #df4759 !important;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}
